
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Oleo+Script:wght@400;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: rgb(254, 235, 199);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 70%;
}

#menu_drawn {
    width: 65%;
    height: 600px;
    box-shadow: 10px 10px 20px rgb(137, 137, 137);
}
#image_cooker{
    overflow: hidden; /*Corta qualquer elemento que passar da borda PAI*/
    position: relative; /*É necessário que o elemento pai esteja referente ao relative*/
    background-color: #ffeeeb;
    display: flex;
    background-color: rgb(254, 242, 240);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#image_cooker p{
    margin-top: 25px;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #CB2501;
    font-size: 45px;
}
#chefe {
    width: 400px;
}
#rosquinha{
    position: absolute; /*Vai te dar uma ação absoluta sobrea  imagem*/
    width: 350px;
    top: 0;
    left: 0;
    transform: translate(-100px/*X*/, -50px/*Y*/); /*Após a colocação da imagem, você pode usar o tranform para ajudata-la*/
}
#pizza {
    position: absolute;
    width: 250px;
    left: 0;
    bottom: 0;
    transform: translate(-33px,10px);
}

#menu_form{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 35%;
    height:600px;
    background-color: #EF5247;
    border-top-right-radius:  50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 20px rgb(137, 137, 137);
}
#top_p_sign {
    font-size: 35px;
    font-family: "Nerko One", cursive;
    color: white;

}
#form_signIn{
   
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.input {
    padding-left: 15px;
    height: 50px;
    width: 300px;
    border: 1px solid white;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ffffff;
}
.input::placeholder {
    color: rgb(156, 156, 156);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#sing_in{
    cursor: pointer;
    margin-top: 10px;
    height: 50px;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background-color: white;
    color: rgb(181, 34, 34);
    font-size: 25px;
    font-family:"Nerko One", cursive;
}

.registerForm {
    display: none;
}
#p_register{
    color: #5c1212;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#register_and_singIn{ 
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#register_link {
    margin-left: 5px;
    color: #6f2525;
    font-weight: bold;
    text-decoration: none;
}
#sign_in_link{
    margin-left: 5px;
    display: none;
    color: #6f2525;
    font-weight: bold;
    text-decoration: none;
}
#estrela{
    position: absolute;
    width: 300px;
    top: 0;
    right: 1;
    transform: translate(100px, -20px);
}
/* CHAT */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, and Opera */
    margin: 0;
}